{% extends "base2.html.twig" %}


{% block nav %}{% endblock %}
{% block content %}
{% block fos_user_content %}
    <ol class="breadcrumb">
        <li><strong>You are here :</strong></li>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active"><a href="#"><strong>Password Reset Request</strong></a></li>
    </ol>
    <div style="width: 100%" class="badge badge-info ">
        <h3>ENTER A USER NAME OR EMAIL TO RESET </h3>
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>


{% endblock fos_user_content %}
{% endblock %}
